<header>
	<nav class="navbar">
		<div
			class="logo"
			style="
				background-color: #25d366;
				border-radius: 50%;
				border: 1px solid #25d366;
				display: inline-block;
				overflow: hidden;
			"
		>
			<a href="/"
				><img src="/images/gk-logo5.png" alt="kept logo" width="60" height="60"
			/></a>
		</div>
		<ul class="nav-links">
			<li><a href="/">Home</a></li>
			<li><a href="/messages">Messages</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/signup">Sign Up</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
</header>
