<header>
	<nav class="navbar">
		<div class="logo">
			<a href="/">
				<img
					src="/images/gk-logo5.png"
					alt="GATEkept logo"
					
				/>
			</a>
		</div>
		<ul class="nav-links">
			<li><a href="/">Home</a></li>
			<li><a href="/messages">Messages</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
</header>
