<html lang="en">
	<%- include('partials/head') %>
	<body>
		<div class="main-container">
			<%- include('partials/header') %>

			<div class="welcome">
				<img src="/images/gk-logo5.png" alt="GATEkept logo" class="logo-img" />
				<h1>GATEkept</h1>
				<p>Private messaging for your circle only.</p>

				<div class="auth-links">
					<a href="/signup" class="signup-btn">Sign Up</a>
					<a href="/login" class="login-btn">Log In</a>
				</div>
			</div>
		</div>
	</body>
</html>
