<!DOCTYPE html>
<html>
	<%- include('partials/head') %>

	<body>
		<div class="main-container">
			<%- include('partials/header') %>

			<form action="/login" method="POST" class="login-form">
				<div>
					<label for="email">Email:</label>
					<input type="email" name="email" id="email" required />
				</div>
				<div>
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" required />
				</div>
				<button type="submit">Log In</button>
			</form>

			<% if (typeof error !== "undefined") { %>
			<p style="color: red"><%= error %></p>
			<% } %>
		</div>
	</body>
</html>
