/* Global Styles */
/* html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
} */
body {
	background-color: #ece5dd;
	font-family: "Open Sans", "Roboto", Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

* {
	box-sizing: inherit;
}

body * {
	overflow-x: hidden !important;
	word-wrap: break-word;
}

div {
	max-width: 100%;
}

/* Navbar Styles */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 40px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	border-bottom: 1px solid whitesmoke;
}

.logo {
	background-color: #25d366;
	border-radius: 50%;
	border: 1px solid #25d366;
	display: inline-block;
	overflow: hidden;
}
.logo img {
	width: 60px;
	height: 60px;
}
.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	padding: 5px 10px;
	list-style-type: none;
}

.nav-links li {
	border-radius: 20px;
	padding: 2px;
	text-decoration: none;
	font-size: 1.1rem;
	transition: all 0.2s ease;
	will-change: auto;
}

.nav-links li:hover {
	background-color: #ddd;
	color: #000;
	font-weight: 500;
}

.nav-links a {
	text-decoration: none;
	color: black;
}

/* Main Layout (Centering content properly) */
.main-container {
	width: 100%;
	min-height: 100vh;
	max-width: 1200px; /* Max width to prevent stretching too far */
	margin: 0 auto;
	padding-top: 80px; /* Space for fixed navbar */
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	box-sizing: border-box;
}
/* index page */
.welcome {
	padding-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.welcome img {
	width: 100px;
	height: 100px;
	background-color: #25d366;
	border-radius: 50%;
}
.welcome h1 {
	font-size: small;
	padding-top: 10px;
}
.welcome p {
	font-size: large;
	color: rgb(101, 100, 100);
}
.welcome .auth-links {
	margin: 30px 0;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}
.auth-links a {
	border: 1px solid #25d366;
	padding: 8px 50px;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	color: #25d366;
	transition: all 0.3s ease;
}
.auth-links a:hover {
	background-color: #25d366;
	color: white;
}
/* Forms styling */
form {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}

form div {
	margin-bottom: 15px;
}

label {
	display: block;
	font-size: 1rem;
	color: #333;
	margin-bottom: 5px;
}
input {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	background-color: #25d366; /* WhatsApp Green */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #128c7e; /* Darker green */
}

button:focus {
	outline: none;
}
/* Sign up Page */
.signup-form {
	margin-top: 20px;
}
/* Login page */
.login-form {
	margin-top: 150px;
}

/* Chat Container */
.chat-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	min-height: 0;
	margin-top: 50px;
	padding: 10px;
}

.messages {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: calc(100vh - 50px); /* adjust based on header height */
	scrollbar-width: none; /* firefox */
	-ms-overflow-style: none;
	min-height: 0;
}

/* Chrome, Safari, Opera */
.messages::-webkit-scrollbar {
	display: none;
}

.message {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	max-width: 90%;
	height: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.message.own {
	align-self: flex-end;
	background-color: #dcf8c6;
}

.message.other {
	align-self: flex-start;
	background-color: whitesmoke;
}

.message-user::before {
	content: "~ ";
	color: #00796b;
	font-weight: lighter;
}
.message-user {
	font-weight: smaller;
	color: #00796b; /* Custom color for username */
	font-size: 0.7rem;
	align-self: flex-start;
}

.message-title {
	font-weight: bold;
	margin: 0 0 5px;
}

.message-content {
	margin: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.message-time {
	font-size: 0.6rem;
	color: gray;
	margin-top: 5px;
	display: block;
	text-align: right;
}

.message-input {
	min-width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 0;
	margin-bottom: 0;
	background-color: inherit;
	box-shadow: none;
}

.input-container {
	position: relative;
	width: 100%;
}

textarea {
	overflow-y: hidden; /* still scrollable */
	resize: none;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}

textarea::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.message-input input,
.message-input textarea {
	font: inherit;
	margin-bottom: 5px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f5f1f1;
	resize: none; /* prevent manual resizing */
	width: 100%;
}

.message-input textarea {
	padding-right: 60px; /* Space for the button */
}

#send-btn {
	position: absolute;
	width: fit-content;
	bottom: 22px;
	background-color: #25d366;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	right: 10px;
	padding: 10px;
}

/* Profile Container */
.profile-container {
	max-width: 900px;
	width: 100%;
	margin: 100px auto;
	padding: 20px;
	background-color: #e0dfdf;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.profile-container h2 {
	font-size: 1.75rem;
	color: #333;
}

h2 span {
	color: #128c7e;
	font-weight: 400;
}

.profile-container p {
	font-size: 1rem;
	color: #555;
}

/* edit profile*/
.edit-form {
	margin-top: 100px;
}

/* Links (Logout & Edit Profile buttons) */
.profile-container a {
	display: inline-block;
	margin-top: 15px;
	padding: 10px 20px;
	color: #333;
	background-color: #e0dfdf;
	border: 1px solid #25d366;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s ease;
}

.profile-container a:hover {
	background-color: #25d366;
	color: white;
}

/* Logout Button */
.profile-container .logout-link {
	margin-right: 10px;
	border: 1px solid #f14645;
}

.profile-container .logout-link:hover {
	background-color: #f14645;
	color: white;
}

/* ERRORS */
.error-message {
	color: #721c24;
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	padding: 1rem;
	margin-top: 100px;
	border-radius: 0.5rem;
	font-weight: bold;
	text-align: center;
	animation: fadeIn 0.3s ease-in-out;
}

.error-message p {
	margin: 0;
	text-align: center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Responsive Design */
@media (max-width: 600px) {
	.navbar {
		flex-direction: column;
		align-items: center;
	}

	.logo {
		align-self: flex-start;
	}
	.nav-links {
		gap: 10px;
	}

	.chat-container {
		margin-top: 100px;
		width: 100%;
		max-width: 100%;
		padding: 0 15px;
	}

	h1 {
		font-size: 1.5rem;
	}

	form {
		padding: 15px;
		margin: 15px;
	}

	input,
	button {
		font-size: 0.9rem;
		padding: 8px;
	}
}
